apache-airflow==2.10.5
pandas==2.2.0
urllib3
beautifulsoup4==4.12.2
requests_aws4auth==1.2.4
boto3==1.33.1
botocore==1.33.1
lxml==4.9.3
numpy==1.24.3
opensearch-py==2.3.1
python-dateutil==2.8.2
python-dotenv==1.0.0
rdflib==7.0.0
requests==2.31.0
cellar-extractor==1.2.3
rechtspraak-extractor==1.5.2
echr-extractor==1.0.43
rechtspraak-citations-extractor==1.2.0
pyoxigraph==0.3.6
psycopg2-binary==2.9.9
apache-airflow-providers-postgres==5.8.0
SPARQLWrapper==2.0.0
