case_id,date,case_number,description,language,venue,abstract,procedure_type,lodge_date,country,subject,authority,legal_references,related_cases,alternative_sources,full_textcase_id,date,case_number,description,language,venue,abstract,procedure_type,lodge_date,country,subject,authority,legal_references,related_cases,alternative_sources,full_text
